* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.content {
  background-color: hsl(0, 0%, 94%);
  min-height: 100vh;
  width: 100%;
  padding: 50px 50px;
  position: relative;
}

.content .container {
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 750px;
  padding: 40px;
  border-radius: 20px 20px 30% 20px;
}

.content .date {
  display: flex;
}

.content .date p {
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 12px;
  color: hsl(0, 1%, 44%);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.content .date input {
  font-weight: bold;
  font-size: 32px;
  max-width: 100%;
  width: 150px;
  padding: 15px;
  border-radius: 7px;
  border: 1px solid hsl(0, 0%, 86%);
  outline: none;
  transition: all 0.3s;
}

.content .date input:focus {
  border: hsl(259, 100%, 65%) 1px solid;
}

.content .date div:not(:first-child) {
  margin-left: 30px;
}

.content .sub {
  display: flex;
  margin: 40px 0;
  justify-content: center;
  position: relative;
  align-items: center;
}

.content .line {
  width: 90%;
  left: 0px;
  height: 0.5px;
  position: absolute;
  background-color: hsl(0, 0%, 86%);
}

.content .arrow {
  background-color: hsl(0, 0%, 8%);
  width: 90px;
  height: 90px;
  padding: 10px;
  border: 10px solid hsl(0, 0%, 8%);
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
}

.content .arrow:hover {
  background-color: hsl(259, 100%, 65%);
  border: 10px solid hsl(259, 100%, 65%);
}

.content .result div {
  font-size: 85px;
  font-weight: 1000;
  color: hsl(0, 0%, 8%);
  font-style: italic;
  margin-bottom: -25px;
}

.content .result div span {
  color: hsl(259, 100%, 65%);
  letter-spacing: 10px;
}

.attribution {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 800px) {
  .container {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 600px !important;
    padding: 60px 30px !important;
  }
  .content .date {
    justify-content: center !important;
  }
  .content .date div {
    margin: 10px !important;
  }
  .date input {
    width: 150px !important;
    font-size: 25px !important;
  }
  .content .sub {
    margin: 80px 0 !important;
  }

  .line {
    width: 100% !important;
  }

  .content .sub .arrow {
    width: 70px;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
  }

  .content .result div {
    font-size: 60px;
  }
}

@media (max-width: 650px) {
  .container {
    width: 400px !important;
  }
  .date input {
    width: 100px !important;
    font-size: 20px !important;
  }
  .content .result div {
    font-size: 60px;
  }
}

@media (max-width: 485px) {
  .container {
    width: 80vw !important;
    padding: 40px 40px !important;
  }

  .date input {
    width: 20vw !important;
    font-size: 18px !important;
  }

  .content .result div {
    font-size: 45px;
    margin-bottom: 0px;
  }
}
@media (max-width: 450px) {
  .date input {
    width: 20vw !important;
    padding: 10px !important;
    font-size: 15px !important;
  }
  .content .result div {
    font-size: 45px;
  }
}
@media (max-width: 400px) {
  .content .date div {
    margin: 5px !important;
  }
  .content .result div {
    font-size: 30px;
  }
}
@media (max-width: 330px) {
  .date {
    flex-direction: column;
    align-items: center;
  }
  .date input {
    width: 50vw !important;
    text-align: center;
  }
  .content .date div {
    margin: 0px !important;
  }
  .content .result div {
    font-size: 30px;
    word-break: break-all;
  }
}
